<div *ngIf="peliculas.length > 0">
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <td>Título</td>
                <td>Foto</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let peli of peliculas">
                <td>{{ peli.titulo }}</td>
                <td>
                    <img src="{{ peli.foto }}" style="width: 120px; height: 120px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
